.button-try-now {
  //   font-family: Arial Rounded MT Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  /* identical to box height */

  color: var(--white-color);
  padding: 40px 80px;
  background: #3a87fe;
  border-radius: 50px;
}
