.button-try-now {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  /* identical to box height */

  color: var(--white-color);
  padding: 35px 80px;
  background: var(--secondary-accent);
  border-radius: 50px;
  border: none;
  margin-top: 65px;
}

.button-send {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: var(--white-color);
  padding: 20px 50px;

  background-color: var(--accent);
  border-radius: 50px;
  border: none;

  margin-bottom: 5px;
}
