body {
  background-color: var(--white-color);
  font-family: "Proxima Nova Regular", "Roboto", sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 1.2;

  color: var(--primary-color);
}
