.faq {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.faq-header {
  font-weight: bold;
  font-size: 70px;
  line-height: 85px;
  text-align: center;
  margin-bottom: 59px;
}
.faq-img {
  display: block;
  bottom: 590px;
  right: 0;
  width: 512px;
}
