.page-header {
  // display: inline-flex;
  // position: absolute;
  // background-image: url("../images/vector/vector-8.svg");
  // background-position: top right;
  // background-repeat: no-repeat;
  // width: auto;
}
.header-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 1202px;
}
