.variants-img {
  position: absolute;
  right: 0;
  width: 585px;
}

.variants-header {
  font-weight: bold;
  font-size: 70px;
  line-height: 85px;
  text-align: center;
  margin-bottom: 85px;
}

.variants-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
  margin-top: -40px;

  align-items: stretch;
}

.variants-item {
  flex-basis: calc(100% / 4 - 40px);

  margin-left: 40px;
  margin-top: 40px;
}

.variants-sub-header {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.23;
  margin-bottom: 37px;

  //   min-height: 148px;
}
